.container-1 .popup-img {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%; width: 100%;
    z-index: 100;
    /* display: none; */
}
.container-1 .popup-img span {
    position: absolute;
    top: 0; right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}
.container-1 .popup-img img {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 5px;
    width: 500px; height: 500px;
    object-fit: cover;
}
