.kotak-1 {
    width: 30vh;
    height: 25vh;
    position: relative; /* Ganti menjadi relatif agar koordinat top dan left merujuk pada posisi induknya */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px 0px rgba(133, 133, 133, 0.25);
}
.kotak-1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 25vh;
}
.kotak-1:hover {
    transition: .3s ease-in-out;
    -ms-transform: scale(1.1); /* Untuk IE 9 */
    -webkit-transform: scale(1.1); /* Untuk Safari 3-8 */
    transform: scale(1.2);
}

.kotak-2 {
    width: 30vh;
    height: 25vh;
    position: relative; /* Ganti menjadi relatif agar koordinat top dan left merujuk pada posisi induknya */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px 0px rgba(133, 133, 133, 0.25);
}
.kotak-2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 25vh;
}
.kotak-2:hover {
    transition: .3s ease-in-out;
    -ms-transform: scale(1.1); /* Untuk IE 9 */
    -webkit-transform: scale(1.1); /* Untuk Safari 3-8 */
    transform: scale(1.2);
}

.kotak-3 {
    width: 30vh;
    height: 25vh;
    position: relative; /* Ganti menjadi relatif agar koordinat top dan left merujuk pada posisi induknya */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px 0px rgba(133, 133, 133, 0.25);
}
.kotak-3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 25vh;
}
.kotak-3:hover {
    transition: .3s ease-in-out;
    -ms-transform: scale(1.1); /* Untuk IE 9 */
    -webkit-transform: scale(1.1); /* Untuk Safari 3-8 */
    transform: scale(1.2);
}

.kotak-4 {
    width: 30vh;
    height: 25vh;
    position: relative; /* Ganti menjadi relatif agar koordinat top dan left merujuk pada posisi induknya */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px 0px rgba(133, 133, 133, 0.25);
}
.kotak-4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 25vh;
}
.kotak-4:hover {
    transition: .3s ease-in-out;
    -ms-transform: scale(1.1); /* Untuk IE 9 */
    -webkit-transform: scale(1.1); /* Untuk Safari 3-8 */
    transform: scale(1.2);
}

.kotak-5 {
    width: 30vh;
    height: 25vh;
    position: relative; /* Ganti menjadi relatif agar koordinat top dan left merujuk pada posisi induknya */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px 0px rgba(133, 133, 133, 0.25);
}
.kotak-5 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 25vh;
}
.kotak-5:hover {
    transition: .3s ease-in-out;
    -ms-transform: scale(1.1); /* Untuk IE 9 */
    -webkit-transform: scale(1.1); /* Untuk Safari 3-8 */
    transform: scale(1.2);
}

.kotak-6 {
    width: 30vh;
    height: 25vh;
    position: relative; /* Ganti menjadi relatif agar koordinat top dan left merujuk pada posisi induknya */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px 0px rgba(133, 133, 133, 0.25);
}
.kotak-6 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 25vh;
}
.kotak-6:hover {
    transition: .3s ease-in-out;
    -ms-transform: scale(1.1); /* Untuk IE 9 */
    -webkit-transform: scale(1.1); /* Untuk Safari 3-8 */
    transform: scale(1.2);
}

.kotak-7 {
    width: 30vh;
    height: 25vh;
    position: relative; /* Ganti menjadi relatif agar koordinat top dan left merujuk pada posisi induknya */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px 0px rgba(133, 133, 133, 0.25);
}
.kotak-7 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 25vh;
}
.kotak-7:hover {
    transition: .3s ease-in-out;
    -ms-transform: scale(1.1); /* Untuk IE 9 */
    -webkit-transform: scale(1.1); /* Untuk Safari 3-8 */
    transform: scale(1.2);
}

.kotak-8 {
    width: 30vh;
    height: 25vh;
    position: relative; /* Ganti menjadi relatif agar koordinat top dan left merujuk pada posisi induknya */
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 4px 0px rgba(133, 133, 133, 0.25);
}
.kotak-8 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 25vh;
}
.kotak-8:hover {
    transition: .3s ease-in-out;
    -ms-transform: scale(1.1); /* Untuk IE 9 */
    -webkit-transform: scale(1.1); /* Untuk Safari 3-8 */
    transform: scale(1.2);
}

 /* BAGIAN LABEL */
.label-1 {
    position: absolute; /* Menjadikan label terpisah dari konten dan bisa diatur secara independen */
    background-color: black;
    font-size: 20px;
    font-weight: bold; width: 20vh; border-radius: 0px 0px 10px 0px;
    text-align: center;

}
.label-2 {
   position: absolute; /* Menjadikan label terpisah dari konten dan bisa diatur secara independen */
    background-color: black;
    font-size: 20px;
    font-weight: bold; width: 20vh; border-radius: 0px 0px 10px 0px;
    text-align: center;

}
.label-3 {
   position: absolute; /* Menjadikan label terpisah dari konten dan bisa diatur secara independen */
    background-color: black;
    font-size: 20px;
    font-weight: bold; width: 20vh; border-radius: 0px 0px 10px 0px;
    text-align: center;

}
.label-4 {
   position: absolute; /* Menjadikan label terpisah dari konten dan bisa diatur secara independen */
    background-color: black;
    font-size: 20px;
    font-weight: bold; width: 20vh; border-radius: 0px 0px 10px 0px;
    text-align: center;

}
.label-5 {
   position: absolute; /* Menjadikan label terpisah dari konten dan bisa diatur secara independen */
    background-color: black;
    font-size: 20px;
    font-weight: bold; width: 20vh; border-radius: 0px 0px 10px 0px;
    text-align: center;

}
.label-6 {
    position: absolute; /* Menjadikan label terpisah dari konten dan bisa diatur secara independen */
    background-color: black;
    font-size: 20px;
    font-weight: bold; width: 20vh; border-radius: 0px 0px 10px 0px;
    text-align: center;

}
.label-7 {

position: absolute; /* Menjadikan label terpisah dari konten dan bisa diatur secara independen */
    background-color: black;
    font-size: 20px;
    font-weight: bold; width: 20vh; border-radius: 0px 0px 10px 0px;
    text-align: center;
}
.label-8 {
position: absolute; /* Menjadikan label terpisah dari konten dan bisa diatur secara independen */
    background-color: black;
    font-size: 20px;
    font-weight: bold; width: 20vh; border-radius: 0px 0px 10px 0px;
    text-align: center;

}

/* responsiv */
@media screen and (max-width: 800px) {

    .wrapper {
        justify-content: center; /* Memusatkan konten pada layar kecil */
    }

    .kotak-1,.kotak-2,.kotak-3,.kotak-4,
    .kotak-5,.kotak-6,.kotak-7,.kotak-8
    {
        width: 80vw; /* Mengubah lebar kotak menjadi 80vw pada layar kecil */
        height: 40vh;
    }

    /* bagian img */
    .kotak-1 img,.kotak-2 img,.kotak-3 img,.kotak-4 img,
    .kotak-5 img,.kotak-6 img,.kotak-7 img,.kotak-8 img
    {
        width: 80vw; /* Mengubah lebar kotak menjadi 80vw pada layar kecil */
        height: 40vh;
    }

    .label-1,.label-2,.label-3,.label-4,.label-5,.label-6,
    .label-7,.label-8 {
        font-size: 22px;
        margin-top: 70vw;
    }
}
